<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/login.css" />
  <title>Login or Sign Up</title>
</head>

<body>
  <h3>Welcome To</h3>
  <h1>Expense Tracker</h1>
  <!-- <h2>Tracking expenses is directly proportional to saving money.</h2> -->
  <section class="wrapper active">
    <div class="form signup">
      <header>Signup</header>
      <form id="signUpForm" onsubmit="return false;">
        <div id="signUpError" class="errorMessage"></div>
        <input type="text" placeholder="Name" name="name" id="name" required />
        <input type="email" placeholder="Email" name="email" id="email" required />
        <input type="password" id="password" placeholder="Password" name="password" required />

        <input type="submit" value="Signup" />
      </form>
    </div>
    <div class="form login">
      <header>Login</header>
      <form id="loginForm" onsubmit="return false;">
        <div id="loginError" class="errorMessage"></div>
        <input type="email" placeholder="Email" name="loginEmail" id="loginEmail" required />
        <input type="password" placeholder="Password" name="loginPassword" id="loginPassword" required />
        <a href="/password/forgotPasswordPage">Forgot your password?</a>
        <input type="submit" value="Login" />
      </form>
    </div>
  </section>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"
  integrity="sha512-QTnb9BQkG4fBYIt9JGvYmxPpd6TBeKp6lsUrtiVQsrJ9sb33Bn9s0wMQO9qVBFbPX3xHRAsBHvXlcsrnJjExjg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/js/login.js"></script>

</html>