/* COMMON CSS */

/* GENERAL CSS */

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(
    135deg,
    #feb47b,
    #5ff2ff
  ); /* Applied to whole page */
  color: white;
}

/* NAVBAR CSS */

.menu-navbar {
  background: rgba(0, 0, 0, 0.308);
}

.main-title {
  font-size: 27px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
.main-title:hover {
  scale: 1.1;
  cursor: pointer;
  transition: all 0.2s;
}

#main-content {
  margin-top: 40px;
}

/* TAB CSS */

.profile-info-card {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  padding: 20px;
  max-width: 75%;
}

.active {
  font-weight: bold;
  color: white !important;
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

/* Pending charities cards css */

.pending-charity-card {
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.pending-charity-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.pending-charity-card .card-title {
  font-size: 1.4rem;
}

.pending-charity-card .card-text {
  font-size: 1rem;
}

.btn-success,
.btn-danger {
  transition: 0.3s ease-in-out;
}

.btn-success:hover {
  background-color: #28a745;
  box-shadow: 0px 4px 10px rgba(40, 167, 69, 0.4);
}

.btn-danger:hover {
  background-color: #dc3545;
  box-shadow: 0px 4px 10px rgba(220, 53, 69, 0.4);
}

/* TABLE CSS */

#donation-table-container,
#users-table-container,
#charities-table-container,
#pending-charities-container,
#projects-table-container,
#charities-filter-container,
#donation-table-container {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  padding: 20px;
  max-width: 80%;
}

/* overriding table class property */
.table {
  --bs-body-bg: transparent !important;
}

/* SCROLL BAR CSS */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #feb47b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8e38;
}

/* PAGINATION CSS */
.page-link:hover {
  cursor: pointer;
}

.activePage {
  background-color: #f0f0f0;
}

.disabledPage {
  pointer-events: none;
  background-color: #feffffc0;
}

/* MODALS CSS */
.modal-content {
  background: linear-gradient(135deg, #feb47b, #5ff2ff);
}
.modal-content button {
  background-color: #feb47b;
}
.modal-content button:hover {
  background-color: #ff8e38;
}

#cherity-details-modal .modal-content {
  min-width: 100%;
}