/* General Styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    135deg,
    #feb47b,
    #5ff2ff
  ); /* Applied to whole page */
  color: white;
}

/* Hero Section */
.hero-section {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

/* Title Glow Effect */
.main-title {
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9); /* Strong glow */
}

/* Subtitle */
.subtitle {
  font-size: 1.5rem;
  font-weight: 400;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6); /* Soft glow */
}

/* Inspiring Text Glow */
.inspiring-text {
  font-size: 1.2rem;
  /* max-width: 600px; */
  margin-top: 15px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6); /* Soft glow */
}

.main-title:hover,
.subtitle:hover,
.inspiring-text:hover {
  color: black;
  cursor: pointer;
}

/* Auth Section */
#auth-section {
  padding: 60px 20px;
  background: rgba(255, 255, 255, 0.2); /* Slight contrast from hero */
  border-radius: 10px;
  margin: 50px auto;
  max-width: 1100px;
}

/* Section Title */
.section-title {
  font-size: 2.5rem;
  font-weight: bold;
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.8);
  margin-bottom: 40px;
}

/* Cards */
.custom-card {
  background: white;
  color: black;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  max-width: 320px;
  margin: 0 auto 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.custom-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.4);
}

/* Responsive Fixes */
@media (max-width: 768px) {
  .col-md-4 {
    margin-bottom: 20px;
  }
}

/*Dynamic Login-Signup Form CSS*/

#form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Forms Section */

.modal-content {
  background: linear-gradient(135deg, #feb47b, #5ff2ff);
}
.modal-footer button {
  background-color: #feb47b;
}
.modal-footer button:hover {
  background-color: #ff8e38;
}

/* Scroll bar css */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #feb47b;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8e38;
}
