:root {
  --primary-color: #52616B;
  --secondary-color: #849BA5;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #F8F9FA;
  color: #424242;
}

#png {
  margin-right: 10px;
}


#dTable {
  border-radius: 10px;
  background-color: #EEF7FC;
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  max-width: 1100px;
}

.topBtn {
  background-color: white;
  border: 1px solid white;
  color: var(--primary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.topBtn:hover {
  background-color: var(--secondary-color);
  color: white;
  border: 1px solid var(--secondary-color);
}

#navigation {
  background-color: var(--primary-color);
}

#dTheadId {
  background-color: var(--secondary-color);
  color: white;
}

.trStyle {
  background-color: transparent;
}
