:root {
  --primary-color: #52616B;       /* Muted blue-gray for key elements */
  --secondary-color: #849BA5;     /* Softer blue-gray for backgrounds */
  --accent-color: #EEF7FC;        /* Very light blue for accents */
  --background-color: #F8F9FA;    /* Clean, off-white backdrop */
  --text-color: #424242;          /* Subtle gray for text */
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* PNG image margin */
#png {
  margin-right: 10px;
}


/* Data Table Container */
#dTable {
  border-radius: 10px;
  background-color: var(--accent-color);
  box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  max-width: 1100px;
}

/* Top Button */
.topBtn {
  background-color: white;
  border: 1px solid white;
  color: var(--primary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
.topBtn:hover {
  background-color: var(--secondary-color);
  color: white;
  border: 1px solid var(--secondary-color);
}

/* Navigation Bar */
#navigation {
  background-color: var(--primary-color);
}

#dTheadId {
  background-color: var(--secondary-color);
  color: white;
}

/* Transparent Table Row Style */
.trStyle {
  background-color: transparent;
}
