:root {
  --primary-color: #52616b;
  --soft-color: #f8f9fa;
}

.form-gap {
  padding-top: 70px;
}

* {
  box-sizing: border-box;
}

body {
  background: radial-gradient(
    circle,
    var(--soft-color) 10%,
    var(--primary-color) 100%
  );
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
  color: #424242;
}

#formBody {
  background: linear-gradient(
    45deg,
    var(--soft-color) 0%,
    var(--primary-color) 90%
  );
}

#resetPasswordEmailBtn {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
