:root {
  --primary-color: #52616b;
  --secondary-color: #849ba5;
  --hover-color: #343d43;
  --tr-hover-color: rgb(217, 253, 253);
  --table-color: #eef7fc;
}

#form1 {
  border-radius: 10px;
  background-color: #f8f9fa;
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5), -2px -2px 9px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  padding: 20px;
  max-width: 1000px;
}

#categoryBtn {
  background-color: var(--primary-color);
  color: white;
  border-radius: 20px;
}

.input-group {
  width: auto;
}

.input-group-text {
  background-color: var(--primary-color);
  color: white;
}

#submitBtn {
  background-color: var(--primary-color);
  color: white;
}

#categoryBtn:hover,
#submitBtn:hover {
  background-color: var(--hover-color);
  border: 1px solid var(--hover-color);
}

#containerDiv {
  border-radius: 10px;
  background-color: var(--table-color);
  box-shadow: 0px 5px 9px rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  padding: 20px;
  max-width: 1200px;
}

#tableHead {
  background-color: var(--secondary-color);
  color: white;
  width: 100%;
}

.trStyle {
  background-color: transparent;
  /* width: 100%; */
}

.trStyle:hover {
  background-color: var(--tr-hover-color);
}

button {
  border-radius: 5px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.editDelete {
  float: right;
  margin: 3px;
  padding: 3px 10px;
}

.pagination {
  margin: 0px;
}

.page-link {
  background-color: var(--secondary-color);
  color: white;
}

.page-link:hover {
  background-color: var(--hover-color);
  color: white;
}

.activePage {
  background-color: var(--primary-color);
  color: white;
}

.disabledPage {
  pointer-events: none;
  background-color: rgba(85, 85, 85, 0.3);
}

.btn-download {
  background-color: #28a745;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  transition: background-color 0.3s ease;
}

.btn-download:hover {
  background-color: #218838;
}

.btn-download:visited,
.btn-download:active,
.btn-download:focus {
  background-color: #28a745;
  color: white;
  text-decoration: none;
}
