:root {
  --primary-color: #52616B;
  --secondary-color: #849BA5;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #F8F9FA;
  color: #424242;
}

#png {
  margin-right: 10px;
}

#lTable {
  border-radius: 10px;
  background-color: #eef7fc;
  box-shadow: 4px 4px 9px rgba(184, 184, 184, 1);
}

#lTheadId {
  background-color: var(--secondary-color);
  color: white;
}

.topBtn {
  background-color: white;
  border: 1px solid white;
  color: var(--primary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

#navigation {
  background-color: var(--primary-color);
}

.topBtn:hover {
  background-color: var(--secondary-color);
  color: white;
  border-color: var(--secondary-color);
}

.trStyle {
  background-color: transparent;
}
