:root {
  --secondary-color: #849BA5;
  --table-color: #eef7fc;
  --tr-hover-color: rgb(217, 253, 253);
}

#lTable {
  border-radius: 10px;
  background-color: var(--table-color);
  box-shadow: 2px 2px 9px rgba(0, 0, 0, 0.5), -2px -2px 9px rgba(0, 0, 0, 0.5);
  width: 50%;
}

#lTheadId {
  background-color: var(--secondary-color);
  color: white;
}

.trStyle {
  background-color: transparent;
}

.trStyle:hover {
  background-color: var(--tr-hover-color);
}
