:root {
  --primary-color: #52616B;       /* Muted blue-gray for key elements */
  --secondary-color: #849BA5;     /* Softer blue-gray for backgrounds & accents */
  --accent-color: #EEF7FC;        /* Very light blue for accents */
  --background-color: #F8F9FA;    /* Clean, off-white backdrop */
  --text-color: #424242;          /* Subtle, dark gray for text */
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
}

#png {
  margin-right: 10px;
}

#lTable {
  border-radius: 10px;
  background-color: var(--accent-color); /* Updated to use accent color */
  /* background-image: linear-gradient(to bottom right, #c7e9fd, var(--secondary-color)); */
  box-shadow: 4px 4px 9px rgba(184, 184, 184, 1);
}

#lTheadId {
  background-color: var(--secondary-color);
  color: white;
}

.topBtn {
  background-color: white;
  border: 1px solid white;
  color: var(--primary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

#navigation {
  background-color: var(--primary-color);
}

.topBtn:hover {
  background-color: var(--secondary-color);
  color: white;
  border-color: var(--secondary-color);
}

.trStyle {
  background-color: transparent;
}
