body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#menu-container {
    background-color: hsl(0, 0%, 84%); /* Light gray */
    padding: 15px;
    border-radius: 8px; /* Optional: Adds rounded corners */
}