body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#menu-container {
    background-color: #d7d7d7; /* Light gray */
    padding: 15px;
    border-radius: 8px; /* Optional: Adds rounded corners */
}