<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kindred Hearts - User Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../css/common.css">

</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg menu-navbar">
        <div class="container-fluid">
            <a class="main-title" class="navbar-brand" href="#">Kindred Hearts</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="#profile-page" id="profile-tab">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#charities-page" id="charities-tab">Charities</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#donation-history-page" id="donation-history-tab">Donation History</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container" id="main-content">
        <div id="content">
            <!-- Profile Page -->
            <div id="profile-page">
                <div class="d-flex justify-content-center">
                    <h2><b>Profile</b></h2>
                </div>
                <div id="profile-info" class="card p-3 profile-info-card">
                    <!-- Profile Data will be appended dynamically here -->
                </div>
            </div>

            <!-- Charities Page -->
            <div id="charities-page" style="display: none;">
                <div class="d-flex justify-content-center">
                    <h2><b>Charities</b></h2>
                </div>

                <div id="charity-list"></div>
            </div>

            <!-- Donation History Page -->
            <div id="donation-history-page" style="display: none;">
                <div class="d-flex justify-content-center">
                    <h2><b>Donation History</b></h2>
                </div>

                <div class="container mt-4 p-3 " id="donation-table-container">
                    <table id class="table table-hover" id="donation-table">

                        <!-- table head -->
                        <thead id="donation-table-head">
                            <tr>
                                <th scope="col" class="rounded-start">S.No</th>
                                <th scope="col">Charity Name</th>
                                <th scope="col">Project Name</th>
                                <th scope="col">Donation Amount</th>
                                <th scope="col" class="rounded-end"> Download Receipt</th>
                            </tr>
                        </thead>

                        <!-- table body -->

                        <tbody id="donation-table-body">
                            <!-- Donation data will be appended dynamically -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            // Switch between tabs
            function showPage(page) {
                $("#profile-page, #charities-page, #donation-history-page").hide();
                $(page).show();
                $(".active").removeClass("active");
                if (page == "#profile-page") {
                    $("#profile-tab").addClass("active");
                    fetchUserProfile();
                }
                // else if (page == "#charities-page") fetchCharitiesList();
                // else if (page == "#donation-history-page") fetchDonationHistory();
            }

            // Function to handle active class switch
            function handleActiveClass(tab) {
                $(".active").removeClass("active");
                $(tab).addClass("active");
                showPage(tab);
            }

            $("#profile-tab").click(function () {
                handleActiveClass("#profile-tab");
            });

            $("#charities-tab").click(function () {
                handleActiveClass("#charities-tab");
            });

            $("#donation-history-tab").click(function () {
                handleActiveClass("#donation-history-tab");
            });

            // Function to handle hash changes
            function handleHashChange() {
                let hash = window.location.hash;
                if (hash) 
                    showPage(hash);
                else 
                    showPage("#profile-page"); // Default to profile if no hash
            }

            // Initial load
            handleHashChange();

            // Event listener for hash changes
            $(window).on('hashchange', handleHashChange);
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.5.1/axios.min.js"></script>

    <script src="../scripts/user.js"></script>

</body>

</html>